SetEnv TZ Asia/Jakarta
RewriteEngine On
RewriteBase /byih
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d 
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^ - [L]
RewriteRule ^welcome$ /byih/index.php
RewriteRule ^logout$ /byih/logout.php
RewriteRule ^home@([a-z0-9_]+)?$ /byih/home.php?username=$1 [L,QSA]